.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px
  }
  .navbar-brand img {
    margin-right: 20px; 
  }
  
  .logo{
    margin-left: 10px;
    height: 30px;
    width: auto;
  }
  